{% extends 'base.html' %}

{% block title %}
Trainees
{% endblock %}

{% block content %}

<h1>Trainees</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </tr>

    {% for trainee in trainees %}
    <tr>
        <td>{{ trainee.id }}</td>
        <td>{{ trainee.name }}</td>
        <td>{{ trainee.email }}</td>
        <td>{{ trainee.address }}</td>
        <td>
            <a href="/trainee/update/{{ trainee.id }}/">Update</a>
            <a href="/trainee/delete/{{ trainee.id }}/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}