{% extends 'base.html' %}

{% block title %}
Update Trainee
{% endblock %}

{% block content %}

<h1>Update Trainee</h1>

<form method="POST">
    {% csrf_token %}

    <label>Name:</label>
    <input type="text" name="name" value="{{ trainee.name }}">

    <br><br>

    <label>Email:</label>
    <input type="email" name="email" value="{{ trainee.email }}">

    <br><br>

    <label>Address:</label>
    <input type="text" name="address" value="{{ trainee.address }}">

    <br><br>

    <button type="submit">Update</button>
</form>

{% endblock %}