{% extends 'base.html' %}

{% block title %}
Tracks
{% endblock %}

{% block content %}

<h1>Tracks</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>

    {% for track in tracks %}
    <tr>
        <td>{{ track.id }}</td>
        <td>{{ track.name }}</td>
        <td>
            <a href="/tracks/update/{{ track.id }}/">Update</a>
            <a href="/tracks/delete/{{ track.id }}/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}