{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}

<h1>Users</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>
            <a href="/myuser/update/{{ user.id }}/">Update</a>
            <a href="/myuser/delete/{{ user.id }}/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}